<li><a id="changeLight-red-<%= model %>" class="<%= model %> clickable dropdown-item" href="#">Red</a></li>
<li><a id="changeLight-green-<%= model %>" class="<%= model %> clickable dropdown-item" href="#">Green</a></li>
<li><a id="changeLight-blue-<%= model %>" class="<%= model %> clickable dropdown-item" href="#">Blue</a></li>